<template name="driver">
	<div class="row">
		<div class="medium-6 columns space-from-top carpool-form">
			<form class="driver-routes">
				<h3>Learn more and Interact for a newer social circle</h3>
				<div class="large-12 columns">
					<div class="row">
        				<div class="small-2 columns">
          					<label for="right-label" class="right inline">Start here!!</label>
        				</div>
				        <div class="small-10 columns">
				        	<div class="row collapse">
						      	<div class="small-10 columns">
						           <input id="dep" class="controls" type="text" placeholder="Please enter">
						        </div>
						        <div class="small-2 columns">
						          <span class="postfix"  onclick="getLocation()"><i class="fa fa-location-arrow fa-1x" aria-hidden="true"></i></span>
						        </div>
		  				   </div>
				         
				        </div>
      				</div>
				</div>
				<div class="large-12 columns">
					<div class="row">
        				<div class="small-2 columns">
          					<label for="right-label" class="right inline">Destination</label>
        				</div>
				        <div class="small-10 columns">
				          <input type="text" id="des" name="destination" placeholder="Please Enter Your Destination">
				        </div>
      				</div>
				</div>
				<!-- <div class="large-12 columns">
					<div class="row">	
					   <div class="small-2 columns">
          					<label for="right-label" class="right inline">Date</label>
       				   </div>	
       				   <div class="small-10 columns">	
						   <div class="row collapse">
						      	<div class="small-9 columns">
						          <input type="text" id="date" name="departue" placeholder="Please Enter your departuer date" />
						        </div>
						        <div class="small-3 columns">
						          <span class="postfix">Calender</span>
						        </div>
		  				   </div>
	  				   </div>
  				   </div>
				</div> -->
				<button  class="submit-route" id="go">Explore</button>
			</form>
		</div>
		<div class="medium-6 columns space-from-top">
			<div id="map"></div>
		</div>
		<hr>
	</div>

	
 
	
    <script>
   $(function(){
  $('#date').fdatepicker({
		format: 'mm-dd-yyyy hh:ii',
		disableDblClickSelection: true,
		pickTime: true
	});
  });
   
 function initMap() {
 	var input = document.getElementById('dep');
    var destination=document.getElementById('des');
	var searchBox = new google.maps.places.SearchBox(input);
	var serachBox2=new google.maps.places.SearchBox(destination);
	var directionsService = new google.maps.DirectionsService;
	var directionsDisplay = new google.maps.DirectionsRenderer;
	var map = new google.maps.Map(document.getElementById('map'), {
		zoom: 3,
		center: {lat: 41.85, lng: -87.65}
	});
  directionsDisplay.setMap(map);
  var onChangeHandler = function() {
    calculateAndDisplayRoute(directionsService, directionsDisplay);
  };
  document.getElementById('go').addEventListener('click',function(event){
  	event.preventDefault();
  	onChangeHandler();
  });
 }

function calculateAndDisplayRoute(directionsService, directionsDisplay) {
  directionsService.route({
    origin: document.getElementById('dep').value,
    destination: document.getElementById('des').value,
    travelMode: google.maps.TravelMode.DRIVING
  }, function(response, status) {
    if (status === google.maps.DirectionsStatus.OK) {
      directionsDisplay.setDirections(response);
    } else {
      window.alert('Directions request failed due to ' + status);
    }
  });
}
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=put_ur_API_key_here&libraries=places&callback=initMap"
         async defer></script>
</template>

